# Session-1 Python Basics

 Functions

In [1]:
#Function performs a particular task.
#identification ---> function()

In [2]:
print("Hello world")

Hello world

Variables

In [9]:
# Variable --> - Variables are used to store the values .
#              - variables are case sensitive .
                  
# Define variable rules --> - you can have special character only "_" underscored . 
#                           - you can have numbers but not at the begining , rest you can have at the end of the variable .

In [3]:
a = 12

In [4]:
a

12

In [5]:
apple = 87

In [6]:
apple

87

In [7]:
apple3 = 34

In [8]:
apple3

34

In [10]:
# never use --> 9apple(any number must never come before any char),
# apple+,apple*(no special char are allowed in variable)

In [11]:
C = 45

In [13]:
C

45

In [14]:
c = 55

In [15]:
C # it must show 55 but why not shown it becuse it is case sensitive

45

Data Types In Python

In [16]:
#Integer --> int --> 1,2,3,4,5,100
#Float --> float --> 5.5, 6.23,23.6, 0.4
#Boolean --> bool --> True,False
#string --> str --> "hjbsctyvg%#%$^%124267",'jhasdytvbj%#$^%$4726834'

In [17]:
print(type(3))

<class 'int'>

In [18]:
print(type(4.5))

<class 'float'>

In [20]:
print(type(True))

<class 'bool'>

In [22]:
print(type("a"))

<class 'str'>

In [23]:
# tuple --> ()
# list --> []
# set --> {}
# Dict --> {}

In [28]:
mylist = [23,43,'hello',[7,34,56],True]

In [25]:
print(mylist)

[23, 43, 'hello', [7, 34, 56], True]

In [26]:
print(type(mylist))

<class 'list'>

In [31]:
mylist[0]

23

In [33]:
mylist[4]

True

In [34]:
mylist[-1]

True

In [ ]:
# single Dimension Indexing

In [35]:
mylist[3]

[7, 34, 56]

In [36]:
# Multi-Dimension Indexing

In [37]:
mylist[3][1]

34

In [38]:
# mylist = [23,43,'hello',[7,34,56],True]
#slicing
# start : Stop+1

In [39]:
print(mylist[0:3])

[23, 43, 'hello']

In [40]:
print(mylist[0:3], mylist [-2][0:2])

[23, 43, 'hello'] [7, 34]

In [ ]:
# List are mutable or changeable
# list uses "[]" Square brackets

In [41]:
mylist = [23,43,'hello',[7,34,56],True]

In [42]:
mylist[0] = 88

In [43]:
mylist

[88, 43, 'hello', [7, 34, 56], True]

In [ ]:
# Tuple are Imutable or unchangeable
# Tuple uses "()" Rounded brackets

In [44]:
mytuple = (23,43,'hello',[7,34,56],True)

In [45]:
mytuple[0] = 34

TypeError: 'tuple' object does not support item assignment

In [47]:
# Interview question - remove the duplicate values  

d = [3,3,3,6,6,6,7,7,7,8,8,8]

In [49]:
# set always gives unique values 
set(d)

{3, 6, 7, 8}

In [50]:
e = set(d)

In [51]:
f = list(e)

In [52]:
f

[8, 3, 6, 7]

In [80]:
# dictionary are in the form of key and value

mydict = {"Name" : ["Pratham","Pednekar"],
          "Age" : 19 ,
          "Place" : "Mumbai"}

In [81]:
mydict["Name"][1]

'Pednekar'

In [82]:
List1 = [mydict["Name"],mydict["Age"],mydict["Place"]]

In [83]:
List1

[['Pratham', 'Pednekar'], 19, 'Mumbai']

In [86]:
ddd = [23,43,"hello",[7,56,[65,53,54]],True]

In [92]:
ddd [3][2][1]

53

In [95]:
# If i want any two or three middle value of a list 
ddd[0],ddd[4]

(23, True)

In [94]:
len(ddd)

5

In [96]:
a = [12,34,45,"hello",67,48,"World",87,54,True]

In [97]:
# In append will bydefault add the value at the end of the list
a.append(66)

In [98]:
a

[12, 34, 45, 'hello', 67, 48, 'World', 87, 54, True, 66]

In [99]:
# In insert, it will give u a option that on which index u want to place the value
a.insert(0,"Pratham")

In [100]:
a

['Pratham', 12, 34, 45, 'hello', 67, 48, 'World', 87, 54, True, 66]

In [ ]:
#Statements in Python

In [ ]:
#if,elif,else

In [ ]:
var = 12

In [108]:
if var > 13:
    print("hello")
elif var == 12:
    print("zzz")
else:
    print("bye")

zzz

In [110]:
a = int(input("Enter 1st number: "))
b = int(input("Enter 2nd number: "))

Enter 1st number: 55
Enter 2nd number: 45

In [111]:
c = a + b

In [112]:
c

100

In [136]:
marks = int(input("Marks: "))
if marks >= 75 and marks <= 100:
    print(" A grade ")
elif marks >= 50 and marks < 75:
    print("B grade")
elif marks >= 35 and marks < 50:
    print("C grade")
elif marks >= 0 and marks < 35:
    print("Fail")
else:
    print("Enter Valid Marks")

Marks: 1023
Enter Valid Marks

In [138]:
#Loops
for 
while

In [1]:
for i in range(0,10):
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [ ]:
#Question 

# 2 * 1 = 2
# 2 * 2 = 4
# .
# .
# 2 * 10 = 20

In [3]:
for i in range(0,11):
    print("2","*",i,"=",i*2)

2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [11]:
#question :- sperate this data types 
my_list = [23,"hello","hi",45.9,"bye",12,76,"Zero",0,99,[23,"one",12.7],77,11,(6,2,0),11.0]

#Answer :-x
list_of_tuple = []
list_of_integers = []
list_of_float = []
list_of_string = []
list_of_list = []
for i in my_list:
    if type(i) == int:
        list_of_integers.append(i)
    elif type(i) == str:
        list_of_string.append(i)
    elif type(i) == float:
        list_of_float.append(i)
    elif type(i) == tuple:
        list_of_tuple.append(i)
    else type(i) == list:
        list_of_list.append(i)
print(list_of_integers)
print(list_of_string)
print(list_of_float)
print(list_of_tuple)
print(list_of_list)

[23, 12, 76, 0, 99, 77, 11]
['hello', 'hi', 'bye', 'Zero']
[45.9, 11.0]
[(6, 2, 0)]
[[23, 'one', 12.7]]

In [1]:
def myfunction(number1,number2):
    a = number1 + number2
    return a

In [2]:
myfunction(5,6)

11

In [1]:
def gettable(number):
    for i in range(1,11):
          print(number,"*",i,"=",i*number)

In [2]:
gettable(5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [3]:
def gettable1(number):
    try:
        out = []
        for i in range(1,11):
            a = number,"*",i,"=",i*number
            out.append(a)
        return out
    except:
        print("error in gettable function")

In [5]:
gettable1(3)

[(3, '*', 1, '=', 3),
 (3, '*', 2, '=', 6),
 (3, '*', 3, '=', 9),
 (3, '*', 4, '=', 12),
 (3, '*', 5, '=', 15),
 (3, '*', 6, '=', 18),
 (3, '*', 7, '=', 21),
 (3, '*', 8, '=', 24),
 (3, '*', 9, '=', 27),
 (3, '*', 10, '=', 30)]

In [3]:
def cube(number):
    print(number * number * number)

In [4]:
cube(4)

64

In [19]:
#python for data science

In [34]:
# 1,37,000 libraries are their in python
# and below are the mostly used libraries and popular once  

# Data preprocessing

# Pandas - u can do any manipulation in excel file by using pandas and read and also edit the excel file
# numpy - stand for numeric python (used for performing mathimatical calaculations)
# Matplotlib - used for data visualization (for graphs and all)
# seaborn - used for data visualization (An advanced library for data visualization more than matplotlib)

# Machine Learning

# sklearn - 
# statmodel - used for time series analysis 

# deep learning

# opencv - used for computer vision 
# tensorflow
# NLTK

In [36]:
! pip install Pandas

Requirement already satisfied: Pandas in c:\users\prath\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\prath\anaconda3\lib\site-packages (from Pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\prath\anaconda3\lib\site-packages (from Pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\prath\anaconda3\lib\site-packages (from Pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\prath\anaconda3\lib\site-packages (from Pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\prath\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->Pandas) (1.16.0)

In [38]:
import pandas as pd

In [39]:
! pip install numpy

Requirement already satisfied: numpy in c:\users\prath\anaconda3\lib\site-packages (1.24.3)

In [43]:
! pip install Matplotlib

Requirement already satisfied: Matplotlib in c:\users\prath\anaconda3\lib\site-packages (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\prath\anaconda3\lib\site-packages (from Matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\prath\anaconda3\lib\site-packages (from Matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\prath\anaconda3\lib\site-packages (from Matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\prath\anaconda3\lib\site-packages (from Matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\users\prath\anaconda3\lib\site-packages (from Matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in c:\users\prath\anaconda3\lib\site-packages (from Matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\prath\anaconda3\lib\site-packages (from Matplotlib) (10.2.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\prath\anaconda3\lib\site-packages (from Matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\prath\anaconda3\lib\site-packages (from Matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\prath\anaconda3\lib\site-packages (from python-dateutil>=2.7->Matplotlib) (1.16.0)

In [42]:
! pip install seaborn

Requirement already satisfied: seaborn in c:\users\prath\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\prath\anaconda3\lib\site-packages (from seaborn) (1.24.3)
Requirement already satisfied: pandas>=0.25 in c:\users\prath\anaconda3\lib\site-packages (from seaborn) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\prath\anaconda3\lib\site-packages (from seaborn) (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\prath\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\prath\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\prath\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\prath\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\prath\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\prath\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (10.2.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\prath\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\prath\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\prath\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\prath\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\prath\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)

In [44]:
import numpy

In [46]:
import matplotlib

In [1]:
import seaborn

In [1]:
def evenodd(n):
    if n%2==0:
        print("even")
    else:
        print("odd")

In [2]:
evenodd(2)

even

In [3]:
a = [1,2,3,4,5,6,7,8,9,10]

In [4]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
for i in a:
    if i%2 != 0 :
        print (i)

1
3
5
7
9